.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
  font-family: 'Titillium Web Regular';
  src: url('./Assets/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Ubuntu Regular';
  src: url('./Assets/Ubuntu-Regular.ttf') format('truetype');
}

body{
  font-family: 'Titillium Web Regular';
}

button{
  font-family: 'Titillium Web Regular';
}

#header{
  height: 70px;
  background-color: rgb(255, 100, 100);
  font-size: 50px;
  text-align: center;
}

#navbar{
  height: 50px;
  background-color: rgb(255, 155, 155);
  border-top: solid 1px;
}

#deadline_main_table{
  width: 100%;
  height: 600px;
}

.deadline_table_column{
  width: 33%;
  height: 50%;
}

.deadline_container{
  border: solid 2px;
  width: 75%;
  height: 75%;
  margin: auto;
}

.date_input_group{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.input_form_group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  font-size: 12px;
}

.input_form_small{
  width: 25px;
  font-size: 20px;
}

.input_form_medium{
  width: 50px;
  font-size: 20px;
}

.input_form_large{
  width: 300px;
  font-size: 20px;
}

.date_slash_text{
  display: inline;
  font-size: 25px;
}

.meridiem_selected{
  border: 2px solid;
  background-image: linear-gradient(to bottom right, rgb(255, 150, 150), rgb(255, 0, 0));
}

.meridiem_not_selected{
  border: 2px solid;
  background-color: white;
}

.create_new_deadline_button{
  width: 50%;
  height: 50%;
  font-size: 25px;
  background-image: linear-gradient(to bottom right, rgb(255, 150, 150), rgb(255, 0, 0));
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid;
}

.edit_icon{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  position: relative;

}

.delete_icon{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  position: relative;
}

.edit_delete_icon_container{
  text-align: center;
}